/* Add your CSS styles here */
.navbar-brand {
    font-weight: bold;
  }
  .pesanan {
    width: 150px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #efefef;
    box-shadow: -6px -7px -10px #00000026;
    color: #0066ff;
    cursor: pointer;
  }
  .pesanan:hover {
    box-shadow: 5px 5px 5px #001aff, -2px -2px 2px #00000026;
  }
  .navbar-logo {
    display: block;
    margin: auto; 
    margin-top: 10px;
    width: 200px; 
    height: auto;
  }

.logo-bmw{
  width: 100px;
}  