.info-panel{
    background-color: salmon;
}

.content-box {
    background-color: #e2e3e4; /* Warna latar belakang */
    padding: 50px; /* Jarak antara konten dan tepi kotak */
    margin-top: -80px; /* Jarak antara kotak dan elemen sebelumnya (jumbotron) */
    border: 1px solid #060606; /* Garis tepi kotak */
    border-radius: 5px; /* Sudut bulat untuk kotak */
    width: 72%; /* Lebar kotak */
    margin-left: auto; /* Menjadikan margin kiri otomatis */
    margin-right: auto;
     /* Menggunakan flexbox */
    /* Menyebarkan item secara merata */
    align-items: right; /* Mengatur item secara vertikal di tengah */
}

.lead{
    height: 30px;
}


.jumbotron {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.logo{
    
}